body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.bg-primary {
    background-color: #03a9f4;
}

/* LAYOUT */

.container {
    width: 100%;
    padding: 4rem 0;
}

.container > .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem 0;
    width: 63rem;
    margin: 0 calc(50% - 500px);
}
.container > .row-short {
    width: 38rem;
    margin: 0 calc(50% - 300px);
}

.container .column {
    display: flex;
    flex-direction: column;
    gap: 1.12rem;
    width: 50%;
}
.container .column.short {
    width: 40%;
    margin-left: auto;
}

/* HERO */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
}
.hero > .logo {
    height: 2.5rem;
    margin-bottom: 1.12rem;
}
.hero > .main-title {
    font-size: 5rem;
}
.hero > .description {
    font-size: 1.12rem;
}

/* CONTENT */

.section-title {
    font-size: 1.12rem;
    text-transform: uppercase;
}
.section-description {
    font-size: 1.12rem;
    color: #737779;
}
.section-description > a {
    color: #ea1e63;
    text-decoration: none;
}
.section-description > a:hover {
    color: #c31851;
    text-decoration: underline;
}

/* FOOTER */

footer.container {
    padding-top: 0;
}

.socials.row {
    margin-bottom: 2rem;
    gap:1.9rem;
    padding: 1.25rem 0;
    border-bottom: 1px solid #fff;
}
.socials > a {
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s;
    /*transition: background-color 1s, color 15s;*/

}
.socials > a:hover {
    background-color: #fff;
    color:#03a9f4;
    transition: all 1s;
    
}
.footer-bottom {
    text-align: center;
}

footer .logo {
    height: 2.5rem;
    margin-bottom: 1.9rem;
}
footer p {
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: #fffb;
}
footer p > a {
    color: #fff;
    text-decoration: none;
}
footer p > a:hover {
    text-decoration: underline;
}

/* RESPONSIVE */

@media (max-width: 70rem) {
    .container > .row {
        width: 50;
        margin: 0 calc(50% - 400px);
    }
}

@media (max-width: 57rem) {
    .container > .row {
        width: 39rem;
        margin: 0 calc(50% - 300px);
    }
    .container .column {
        width: 100%;
    }
    .container .column.short {
        width: 100%;
        margin-left: unset;
    }
}

@media (max-width: 44rem) {
    .container > .row,
    .container > .row-short {
        width: 25rem;
        margin: 0 calc(50% - 200px);
    }
}

@media (max-width: 42.25rem) {
    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .container > .row,
    .container > .row-short {
        width: 100%;
        margin: 0;
    }
}